{% extends "goods_base.html"%}
{%block scr%}
  <script type="text/javascript" src="/static/js/slide.js"></script>
{%endblock scr%} 

{%block main%}
	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">新鲜水果</a></li>
			<li><a href="#model02" class="seafood">海鲜水产</a></li>
			<li><a href="#model03" class="meet">猪牛羊肉</a></li>
			<li><a href="#model04" class="egg">禽类蛋品</a></li>
			<li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="#model06" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">新鲜水果</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for ob in id.0%}
				<a href="#">{{ob.gtitle}}</a>
				{%endfor%}

			</div>
			<a href="/detail_list/1" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner01.jpg"></div>
			<ul class="goods_list fl">
				{%for ob in click.0%}
				<li>
					<h4><a href="#">{{ob.gtitle}}</a></h4>
					<a href="#"><img src="/static/{{ob.gpic}}"></a>
					<div class="prize">¥ {{ob.gprice}}</div>
				</li>
				{%endfor%}
				</ul>
		</div>
	</div>


<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">海鲜水产</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for ob in id.1%}
				<a href="#">{{ob.gtitle}}</a>
				{%endfor%}

			</div>
			<a href="detail_list/2" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner02.jpg"></div>
			<ul class="goods_list fl">
				{%for ob in click.1%}
				<li>
					<h4><a href="#">{{ob.gtitle}}</a></h4>
					<a href="#"><img src="/static/{{ob.gpic}}"></a>
					<div class="prize">¥ {{ob.gprice}}</div>
				</li>
				{%endfor%}
				</ul>
		</div>
	</div>

<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">猪牛羊肉</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for ob in id.2%}
				<a href="#">{{ob.gtitle}}</a>
				{%endfor%}

			</div>
			<a href="detail_list/3" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner03.jpg"></div>
			<ul class="goods_list fl">
				{%for ob in click.2%}
				<li>
					<h4><a href="#">{{ob.gtitle}}</a></h4>
					<a href="#"><img src="/static/{{ob.gpic}}"></a>
					<div class="prize">¥ {{ob.gprice}}</div>
				</li>
				{%endfor%}
				</ul>
		</div>
</div>

<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">禽类蛋品</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for ob in id.3%}
				<a href="#">{{ob.gtitle}}</a>
				{%endfor%}

			</div>
			<a href="detail_list/4" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner04.jpg"></div>
			<ul class="goods_list fl">
				{%for ob in click.3%}
				<li>
					<h4><a href="#">{{ob.gtitle}}</a></h4>
					<a href="#"><img src="/static/{{ob.gpic}}"></a>
					<div class="prize">¥ {{ob.gprice}}</div>
				</li>
				{%endfor%}
				</ul>
		</div>
</div>


<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">新鲜果蔬</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for ob in id.4%}
				<a href="#">{{ob.gtitle}}</a>
				{%endfor%}

			</div>
			<a href="detail_list/5" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner05.jpg"></div>
			<ul class="goods_list fl">
				{%for ob in click.4%}
				<li>
					<h4><a href="#">{{ob.gtitle}}</a></h4>
					<a href="#"><img src="/static/{{ob.gpic}}"></a>
					<div class="prize">¥ {{ob.gprice}}</div>
				</li>
				{%endfor%}
				</ul>
		</div>
</div>


<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">速冻食品</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for ob in id.5%}
				<a href="#">{{ob.gtitle}}</a>
				{%endfor%}

			</div>
			<a href="detail_list/6" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner06.jpg"></div>
			<ul class="goods_list fl">
				{%for ob in click.5%}
				<li>
					<h4><a href="#">{{ob.gtitle}}</a></h4>
					<a href="#"><img src="/static/{{ob.gpic}}"></a>
					<div class="prize">¥ {{ob.gprice}}</div>
				</li>
				{%endfor%}
				</ul>
		</div>
</div>








{%endblock main%}